@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('./assets/images/body/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00030C;
}

@media (max-width: 640px) {
  :root {
    background-size: auto;
  }
}
